#msgHolder {
    width: 100%;
    padding-left: 0px;
}

#msgHolder a {
        text-decoration: none;
        color: #015BA7;
    }

#msgHolder a:hover {
            text-decoration: underline;
        }

#btnShare, .btnComment, .btnRequest, .btn {
    background-color: #0094ff;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 80px;
}

.publishContainer {
    width: 65%;
    text-align: left;
    background-color: #F2F2F2;
    border-color: #7D7D84;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    margin-top: 2px;
}

.publishComment {
    text-align: left;
    width: 100%;
    display: none;
}

.postHolder {
    border-top: solid 1px #E6E6E6;
    margin: 5px;
    list-style: none;
}

.postHolder p {
        /*margin: 4px auto 7px 50px;*/
    }

.postHolder a {
        font-weight: bold;
    }

.postFooter {
    font-size: 0.85em;
}

.postFooter span {
        color: #7D7D84;
}

.postFooter a {
        font-weight: normal;
}

.commentHolder {
    clear: both;
    background-color: #EEF1F6;
    border-bottom: 1px solid #DEE5EA;
    border-top: 1px solid white;
    list-style: none;
}

.useritem {
    border-bottom: 1px solid #DEE5EA;
    clear: both;
    overflow: auto;
    padding: 3px;
}

.useritem p {
        margin: 4px auto 7px 55px;
}

.btnRequest, .btn {
    margin-top: 7px;
}