@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development.
        ASP.NET MVC includes many features that enable fast, TDD-friendly development for creating sophisticated applications that use the latest web standards.
    </p>
    <p><a href="http://www.asp.net/mvc" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MongoDB’s</h2>
        <p>
            Agile and Scalable
            MongoDB makes working with a database simple and elegant, providing agility and freedom to scale.
        </p>
        <p><a class="btn btn-default" href="https://www.mongodb.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Knockout</h2>
        <p>
            Knockout is a JavaScript library that helps you to create rich, responsive display and editor user interfaces with a clean underlying data model.
        </p>
        <p><a class="btn btn-default" href="http://knockoutjs.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bootstrap</h2>
        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</p>
        <p><a class="btn btn-default" href="http://getbootstrap.com/">Learn more &raquo;</a></p>
    </div>
</div>