@{
    ViewBag.Title = "Contact";
}

<br />
<div class="well well-sm">

    <h2>@ViewBag.Title.</h2>
    <address>
        Rosario - SantaFe | Argentina<br />
        <abbr title="Phone">P:</abbr>
        341 5119682
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:ggustavo@icloud.com">ggustavo@icloud.com</a><br />
        <strong>Linkedin:</strong> <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile">Profile Linkedin</a>
    </address>
</div>
